:root {
  --fondo: #1e1e2f;
  --carta: #2b2b3c;
  --texto: #f0f0f0;
  --gris: #9ca3af;
  --azul: #4f46e5;
  --verde: #22c55e;
  --rojo: #ef4444;
  --borde: #3f3f4f;
  --padding-nav: 5rem;
  --sombra: 0 4px 12px rgba(0, 0, 0, 0.25);
}

body {
  background-color: var(--fondo);
  color: var(--texto);
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0 1rem 100px; /* padding inferior por el nav fijo */
}

.contenedor {
  background: var(--carta);
  padding: 1.5rem;
  margin: 2rem auto;
  border-radius: 16px;
  max-width: 800px;
  min-width: 280px;
  box-shadow: var(--sombra);
}

.titulo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.grupo {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.grupo label {
  color: var(--gris);
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.input,
.select {
  background-color: var(--fondo);
  color: var(--texto);
  border: 1px solid var(--borde);
  border-radius: 8px;
  padding: 0.6rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.filtros {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .filtros {
    flex-direction: row;
    justify-content: space-between;
  }
}

.mensaje {
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
  color: var(--verde);
}

/* Lista de ventas horizontal */
.lista-ventas {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  max-height: 400px;
  max-width: 600px;
  overflow-y: auto;

}

.item-venta-linea {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  background-color: #2e2e3e;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  font-size: 0.95rem;
  color: var(--texto);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
}

.item-venta-linea:hover {
  background-color: #3b3b4e;
}

.venta-dato {
  text-align: center;
  font-weight: 400;
  color: #d1d5db;
  white-space: nowrap;
  font-size: 0.9rem;
}
.user{
  grid-column: 1 / span 2;
  font-weight: bold;
}
.venta-precio {
  grid-column: 1 / span 2;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  font-weight: bold;
  padding: 5px;
}
.negativo {
  color: var(--rojo);
}
.positivo {
  color: var(--verde);
}
.boton-eliminar {
  grid-column: 1 / span 2;
  background: var(--rojo);
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--rojo);
  transition: transform 0.1s ease;
}

.boton-eliminar:hover {
  transform: scale(1.05);
  border: #ffb6b6 1px solid;
}
